<a href="https://colab.research.google.com/github/Aniket126126/Python/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Extra Python Practice Feb 22

In [16]:
import numpy as np
arr=np.array([1,2,4,6,4])

In [ ]:
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [ ]:
arr1=np.arange(9).reshape(3,3)

In [ ]:
beta_list = ["apple", "banana", "orange"]
beta_list.insert(2,"grape")
print(beta_list)

['apple', 'banana', 'grape', 'orange']

In [ ]:
my_list2 = ["a", "b", "c"]

In [ ]:
list= ["APlle","Bababna","Orange"]

In [ ]:
list

['APlle', 'Bababna', 'Orange']

In [ ]:
for x in range(1,4):
    beta_list += ['fruit']
print(beta_list)

['apple', 'banana', 'grape', 'orange', 'fruit', 'fruit', 'fruit']

In [ ]:
beta_list = ["apple", "banana", "orange"]
beta_list = beta_list.copy()
print(beta_list)

['apple', 'banana', 'orange']

In [17]:
list1=np.arange(10)

In [18]:
list2= np.arange(12)

In [19]:
list1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

 Seperate text from words or letters in the list

In [20]:
import math

In [24]:
list1=[3,5,3,2,6,8,'a','c',16]

In [ ]:
list1

In [30]:
list3= [  x for x in list1 if isinstance(x,int)]

In [31]:
list3

[3, 5, 3, 2, 6, 8, 16]

In [33]:
list4= [  math.sqrt(x) for x in list3 if x%2==0]
list4

[1.4142135623730951, 2.449489742783178, 2.8284271247461903, 4.0]

Different Scenario

In [34]:
mylist=['1','orange','2','3','4','apple']

In [37]:
mynewlist = [s for s in mylist if s.isdigit()]
mynewlist

['1', '2', '3', '4']

In [38]:
[x for x in mylist if x.isdigit()]

['1', '2', '3', '4']

In [40]:
#OR this method can be used using exception handling
new_list = []
for value in mylist:
    try:
        new_list.append(int(value))
    except ValueError:
        continue

In [42]:
new_list

[1, 2, 3, 4]

In [ ]:
list3= [  x for x in list1 if x % 2 == 0 and x for x in list2 if x%2 == 0]

In [ ]:
list3

[0, 2, 4, 6, 8, 10, 0, 2, 4, 6, 8, 10, 0, 2, 4, 6, 8, 10, 0, 2, 4, 6, 8, 10]

In [ ]:
def split(mix):
  even = []
  odd = []
  for i in mix:
    if (i % 2 == 0):
      even.append(i)
    else :
      odd.append(i)
  print("Even List: ",even)
  print("Odd List: ",odd)


split(list1)

Even List:  [0, 2, 4, 6, 8]
Odd List:  [1, 3, 5, 7, 9]

In [ ]:
def evenAdd(list1):
  add=0
  for i in list1:
    if (i % 2 == 0):
      add += i
  return add
evenAdd(list1) + evenAdd(list2)

50

In [ ]:
def SumEvenNum(list1,list2):
  even1=[x for x in list1 if x%2==0]
  even2=[x for x in list2 if x%2==0]
  return sum(even1)+sum(even2)
SumEvenNum(list1,list2)

50

In [ ]:
list1[::-1]

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [ ]:
list1[::1]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
list1[1:3]

array([1, 2])

In [ ]:
list1[1:-1:2]

array([1, 3, 5, 7])

In [43]:
print(10 / 3)   # Output: 3.3333333333333335 (true division)
print(10 // 3)  # Output: 3 (floor division)

3.3333333333333335
3

In Python, sets and dictionaries are both collections used to store data, but they serve different purposes and have distinct characteristics. Here's a detailed comparison:
1. Purpose

    Set:
        A collection of unique, unordered elements.
        Used for membership testing, removing duplicates, and mathematical set operations (union, intersection, etc.).

    Dictionary:
        A collection of key-value pairs.
        Used to store data that can be quickly retrieved using keys.

In [44]:
my_set = {1, 2, 3}  # Curly braces with only values
empty_set = set()  # Use `set()` to create an empty set

In [45]:
my_dict = {"a": 1, "b": 2, "c": 3}  # Curly braces with key-value pairs
empty_dict = {}  # An empty `{}` creates a dictionary

In [46]:
# Create a set
my_set = {1, 2, 3, 4}

# Add elements
my_set.add(5)

# Remove duplicates
unique_elements = set([1, 2, 2, 3])

# Membership testing
print(3 in my_set)  # True

# Set operations
set_a = {1, 2, 3}
set_b = {3, 4, 5}
print(set_a | set_b)  # Union: {1, 2, 3, 4, 5}
print(set_a & set_b)  # Intersection: {3}

True
{1, 2, 3, 4, 5}
{3}